body{
  margin:0px;
  background: black;
  color:white;
}

h1{
  text-align: center;
  font-weight: lighter;
}

.container{
  margin: 15px;
  padding: 1rem;
  text-align: center;
  display: block;
  /* justify-content: center; */
  border: 1px solid white;
  min-height: 60vh;
}

input{
  /* display: block; */
  text-align: center;
}

#output{
  text-align: center;
  padding: 10px;
}

#submitBtn{
  text-align: center;
}